
$color-principal:#0033A0;
$color-secundario: #00A7C0;
$color-green: #438643;
$color-orange: orange;
$color-red: red;

$font-general: Arial, Helvetica, sans-serif;
$white: #ffffff;
$black: #000000;
$color-text: #424242;
$text-p: 1rem;
$ubicacion: top,right,bottom,left;

$contrast: false;
/*Este comentario aparece en css*/
//Este comentario no aparece en css

@if$contrast == true {
    body{
        background: $black;
    }
    $color-text : $white;

    
    $color-principal: grayscale(#0033A0);
    $color-secundario: grayscale(#00A7C0);
    $color-green: grayscale(#438643);
    $color-orange: grayscale(orange);
    $color-red: grayscale(red);

    img{
        filter: gryascale(100%);
    }
}


@each $var in $ubicacion {
    .margin-#{$var}{
        margin-#{$var}: 10px;
    }
}

@for $var from 1 through 12 {
    .grid-#{$var}{
        width: (100%*$var)/12;
        float: left;
        min-height: 100px;
        // para aclarar colores
        // background: lighten($color-secundario, $var) ;
    }
}

$varWhile: 0;
@while $varWhile <=10{
    .items{
        width: 100px;
        height: 50px;
        background: mix($color-red,$color-green);
    }

    $varWhile: $varWhile +1;
}

%img0{
    margin: 0;
    padding: 0;
}


// %notify{
//     widows: 300px;
//     padding: 20px;
//     border: $color-principal solid 1px;
//     border-radius: 0 0 25px 0;
//     font-family: $font-general;
//     display: flex;
//     align-items: center;
//     img{
//         width: 40px;
//         margin-left: 20px;
//     }
// }

@mixin  notifies($bg){
    width: 300px;
    padding: 20px;
    border: $bg solid 1px;
    border-radius: 0 0 25px 0;
    font-family: $font-general;
    display: flex;
    margin: 10px;
    align-items: center;
    background-color: rgba($bg, .6);
    box-shadow: 0 0 20px rgba($black, .4);
    img{
        width: 40px;
        margin-left: 20px;
    }
}
@mixin latter($size) {
    position: absolute;
    bottom: 0;
    width: $size/2;
    height: $size/20;
    font-size: 14px;
    text-align: center;
    left: 0;
    right: 0;
    display: block;
    background-color: $color-secundario;
    color: $white;
    border-radius: 20px;
    padding: 10px;
    font-family: $font-general;
}

@mixin  circle($size,$color, $person) {
    width: $size;
    height: $size;
    background: {
      color: $color;
      image: url("../img/content/#{$person}.png");
      @if$contrast == true {
        image: url("../img/content/avatar.png");
      }
    };
    background-size: cover;
    position: relative;
    border-radius: $size/2;
    &:after{
        content: $person;
       @include latter($size);
    }
}


.card-circle-small{
    $bgs : mix($color-principal, $color-green);
    @include circle(100px,$bgs ,"pedro" );

}

.card-circle-mediun{
    $bgs : mix($color-principal, $color-orange);
    @include circle(200px,$bgs ,"carmelita" );

}

.card-circle-big{
    $bgs : mix($color-principal, $color-red);
    @include circle(300px,$bgs ,"juan" );
}
.success{
    // @extend %notify;
    // border-color: $color-green;
    // background: rgba($color-green, .2);

    @include notifies($color-green);
}
.warning{
    // @extend %notify;
    // border-color: $color-orange;
    // background: rgba( $color-orange, .2);
    @include notifies($color-orange);
}
.error{
    // @extend %notify;
    // border-color: $color-red;
    // background: rgba( $color-red, .2);
    @include notifies($color-red);
}

p{
    font-family: $font-general ;
    font-size: 16px;
    color: $color-text;
    span{
        color: $color-principal;
    }
}

//selector padre
.btn{
    $heigthB:35px;
    background-color: $color-principal;
    color: $white;
    padding: {
        top: 0;
        left: 20px;
        bottom: 0;
        right: 20px;
    };
    border-radius: $heigthB/2;
    height: 35px;

    border: {
    width: 1px;
    style: solid;
    color: $color-secundario;
    };
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: darken($color-principal, 15%);
        border: {
            width: 3px;
        };
    }
    aside &{
        background-color: $color-secundario;
        &:hover {
            background-color:darken($color-secundario, 15%);
        }
    }
}

.list-notification{
    position: absolute;
    top: 0;
    right: 0;
}



footer{
    background-color: mix($color-orange ,$color-secundario);
    padding: 10px;
    color: $white;
    clear: both;
    h5{
        @extend %img0
    }
}

//@debug "hola mundo soy el color "+ $color-secundario


//@debug "hola mundo estoy en "+ nth($ubicacion , 2)

