
$color-principal:#0033A0;
$color-secundario: #00A7C0;
$color-green: #438643;
$color-orange: orange;
$color-red: red;

$font-general: Arial, Helvetica, sans-serif;
$white: #ffffff;
$black: #000000;
$color-text: #424242;
$text-p: 1rem;
$ubicacion: top,right,bottom,left;

$contrast: false;